<table class="table table-striped">
  <thead>
    <tr>
      <th>Pet</th>
      <th>Appointment date</th>
      <th>Reason</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.pet %></td>  
        <td><%= appointment.appointment_date %></td>
        <td><%= appointment.reason %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

